body {
	background-color: black;
}

header {
	height: auto !important;
}

header ul li a {
	color: white !important;
}

.banner-login {
	height: 120px;
}

.frmLogin h1 {
	color: white;
}

input {
	margin-bottom: 2px;
}

.frmLogin button {
	margin-bottom: 100px;
}

section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	background-color: black;
}

header {
	background-color: #212529;
}

.imbBookContainer {
	max-width: 540px;
}

.card {
	background-color: black;
	color: white;
	border-color: red;
}

#icon {
	height: 64px;
}

.card-body h5 {
	text-align: center;
}

.bo {
	text-align: center;
	align-self: center;
}

.bo > img {
	width: 150%;
}

#infoUser {
	height: 100px;
}

div.row {
	padding-top: 5px;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

#dailyPhrase {
	background-color: #215010;
	height: auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	vertical-align: middle;
}

.btnComprar {
	text-align: center;
	height: 40px;
}

#dailyPhrase p {
	font-size: 12px;
	color: white;
	text-align: center;
}

#otra {
	font-size: 10px;
	position: absolute;
	left: 95%;
	margin-top: 30px;
	height: 20px;
	padding-top: 1.5px;
}

.accordion {
	width: 100%;
}

.footer-dark {
	color: #f0f9ff;
	background-color: #282d32;
}

.footer-dark h3 {
	font-weight: bold;
	font-size: 16px;
}

.footer-dark ul {
	padding: 0;
	list-style: none;
	line-height: 1.6;
	font-size: 14px;
}

.footer-dark ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.6;
}

.footer-dark ul a:hover {
	opacity: 0.8;
}

.footer-dark .item.text p {
	opacity: 0.6;
}

.footer-dark .copyright {
	text-align: center;
	opacity: 0.3;
}

.user {
	width: 90%;
	height: 80px;
	margin: 0.5% auto;
}

@media (min-width: 300px) and (max-width: 767px) {
	#otra {
		left: 82%;
		margin-top: 30px;
	}
}

@media (min-width: 768px) {
	.footer-dark .item:not(.social) {
		text-align: center;
		padding-bottom: 20px;
	}

	#otra {
		left: 90%;
		margin-top: 15px;
	}
}

@media (min-width: 1280px) {
	#otra {
		left: 95%;
		margin-top: 15px;
	}
}
